[Unit]
Description=PV status display
After=syslog.target network.target

[Service]
ExecStart=/root/pvstatus/pvstatus.py
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target

